### Read  English Text & Number from tables in PDF files

#### Two main methods were used to extract text: 
1- Extract text from pdf files then used RegExr to extract wanted variables.   
2- Extract tables from pdf files and used slice to extract wanted variables.

In [4]:
import pandas as pd
from tabula import read_pdf
from tabulate import tabulate
import PyPDF2
import os
import re
import time

#### The below functions extract text then put them in dataframes

In [7]:

# Specify the PDF file path
columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
profit_data= pd.DataFrame(columns=columns)
profit_data
folder_path='oman 2022\IncomeInstatment'
file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]

for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
#     print(f"Opening PDF: {file_name}")

    # Open the PDF file
    pdf_file = open(pdf_path, 'rb')

# tabula.convert_into("AACT_2022_Yearly (Audited)_e/2_AACT_BalanceSheet_26022023_33.pdf", "output.csv", output_format="csv", pages='all')
# Use tabula to extract tables from the PDF

    tables = read_pdf(pdf_file,multiple_tables=True,columns=[100,50, 100, 300],pages='all')
    # print(tabulate(tables)
    # Print the extracted tables
#     for table_num, table_df in enumerate(tables, start=1):
    extract_profit(tables)
#         print(f"Table {table_num}:\n{table_df}")
     # Close the PDF file
    pdf_file.close()

3_AACT_IncomeStatement_26022023_33.pdf
3_AAIC_IncomeStatement_04062023_39_U.pdf
3_ABOB_IncomeStatement_09032023_41.pdf
3_ABRJ_IncomeStatement_17032023_4_U.pdf
3_AFAI_IncomeStatement_13092022_30.pdf
3_AFIC_IncomeStatement_13032023_32.pdf
3_AJSS_IncomeStatement_28022023_2.pdf

KeyboardInterrupt:

In [4]:
def extract_profit(tables):
    global profit_data
    global file_name
    # Read first table to extract the wanted row
    table=tables[0]
    # Drop null rows from first columns
    table.dropna(subset=['Unnamed: 0'],inplace=True)
    # Take a loop to look for specific values by order 
    keywords=['Net Profit / (Loss) for the period', 'Net profit (loss)', 'Profit (loss) for period', 'Profit (loss)','Profit for the period']
#     columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
#     profit_data= pd.DataFrame(columns=columns)

    for keyword in keywords:
#     matched_rows=test[test['Unnamed: 0'].str.contains(keyword, case=False)]
        matched_row=table[table['Unnamed: 0']==keyword]
        if not matched_row.empty:
            matched_row=matched_row.iloc[[0]]
            break
#         else:
#             print('Not Matched')


    print(file_name)
#     cols=matched_row.columns[:1]
    last_columns=matched_row.iloc[:,1:]
#     matched_row['combine']=last_columns.apply(' '.join, axis=1)
    matched_row['combine']=last_columns.apply(lambda row:' '.join(filter(lambda x:pd.notna(x),row)),axis=1)

    matched_row.drop(matched_row.iloc[:,1:-1], axis=1, inplace=True)
    matched_row=matched_row['combine'].str.split(expand=True)
    if len(matched_row.columns)>2:
        matched_row.rename(columns={0:'Cons2022',1:'Stand2022',2:'Cons2021',3:'Stand2021'},inplace=True)
        
    else:
        matched_row.rename(columns={0:'Cons2022', 1:'Cons2021'},inplace=True)
        

    matched_row.index=[file_name.split('_')[1]]
    profit_data=pd.concat([profit_data,matched_row],ignore_index=False).fillna(0)
#     profit_data=profit_data.append(matched_row).fillna(0)

In [1753]:
import re
import pandas as pd
# Define the keyword set you want to search for as create the dataframe. 
keywords = ['Total assets', 'Total current assets', 'Total liabilities', 'Total current liabilities']
columns= pd.MultiIndex.from_product([['2022','2021'], keywords])
data= pd.DataFrame(columns=columns)
    
def extract_info(text,file_name):
    # Input text containing the keyword
    input_text = str(text).split('\\n')
    global keywords
    global data

    # keyword='Total liabilities'
    for keyword in keywords:
    # Use regex to find the keyword and capture text after it
    # pattern = re.compile(f"{re.escape(keyword)}.*?\\b([\d,]+)\\b", re.IGNORECASE)
        pattern = re.compile(f"{re.escape(keyword)}.*?\\b([\d,]+).*?([\d,]+)\\b", re.IGNORECASE)

        match = pattern.search(str(input_text))

        if match:
            com_name=file_name.split('_')[1]
            data.at[com_name,('2022',keyword)]=match.group(1)
            data.at[com_name,('2021',keyword)]=match.group(2)
            
    #         captured_number1 = match.group(1)
    #         print(f"Captured number: {captured_number1}")
    #         captured_number2 = match.group(2)
    #         print(f"Capture number: {captured_number2}")
        else:
            print("Keyword not found.")

In [1754]:

import pandas as pd

# Specify the folder path
folder_path = 'oman 2022\Balancesheet'

# List of files in the folder
# file_list = os.listdir(folder_path)
file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]

for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
    print(f"Opening PDF: {file_name}")

    # Open the PDF file
    pdf_file = open(pdf_path, 'rb')

    # Create a PDF reader object
    reader = PyPDF2.PdfReader(pdf_file)

    # Get the number of pages in the PDF file
    num_pages = len(reader.pages)

    # Iterate over the pages in the PDF file
    text=[]
    for page_num in range(num_pages):

        # Get the current page
        page = reader.pages[page_num]

        # Get the tables on the current page
        tables = page.extract_text().split('\n\n')

        # Print the tables
        for table in tables:
            text.append(table)
            extract_info(text,file_name)

    # Close the PDF file
    pdf_file.close()

Opening PDF: 2_AACT_BalanceSheet_26022023_33.pdf
Opening PDF: 2_AAIC_BalanceSheet_04062023_39_U.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_ABOB_BalanceSheet_09032023_41.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_ABRJ_BalanceSheet_17032023_4_U.pdf
Opening PDF: 2_AFAI_BalanceSheet_13092022_30.pdf
Opening PDF: 2_AFIC_BalanceSheet_13032023_32.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_AJSS_BalanceSheet_28022023_2.pdf
Opening PDF: 2_AMAN_BalanceSheet_03042023_6.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_AMAT_BalanceSheet_26022023_31.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_AMCI_BalanceSheet_13032023_1.pdf
Opening PDF: 2_AMII_BalanceSheet_28052023_41_U.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_AOFS_BalanceSheet_15032023_39.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_ATMI_BalanceSheet_17022023_18.pdf
Opening PDF: 2_BACS_BalanceSheet_30102022_6.pdf
Opening PDF: 2_BAHS_BalanceSheet_28022023_35.pdf
Opening PDF: 2_BATP_BalanceSheet_16022023_58.pdf
Opening PDF: 2_BKDB_BalanceSheet_05032023_28.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_BKMB_BalanceSheet_28022023_55_U.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_BKNZ_BalanceSheet_07032023_20.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_BKSB_BalanceSheet_28032023_26_U.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_BRDE_BalanceSheet_14032023_38_U.pdf
Opening PDF: 2_BWPC_BalanceSheet_23022023_54_U.pdf
Opening PDF: 2_CMII_BalanceSheet_27022023_2.pdf
Opening PDF: 2_CSII_BalanceSheet_09022023_5_U.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_DBCI_BalanceSheet_12032023_44.pdf
Opening PDF: 2_DBIH_BalanceSheet_06032023_16.pdf
Opening PDF: 2_DFIN_BalanceSheet_16032023_19.pdf
Opening PDF: 2_DGEN_BalanceSheet_06022023_33.pdf
Opening PDF: 2_DICS_BalanceSheet_05032023_50.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_DIDI_BalanceSheet_14032023_54.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_DPCI_BalanceSheet_27022023_44.pdf
Opening PDF: 2_DTCS_BalanceSheet_11032023_18.pdf
Opening PDF: 2_FINC_BalanceSheet_21022023_53.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_FSCI_BalanceSheet_02032023_20_U.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_GECS_BalanceSheet_12032023_13.pdf
Opening PDF: 2_GFIC_BalanceSheet_15032023_7_U.pdf
Opening PDF: 2_GHOS_BalanceSheet_23022023_59.pdf
Opening PDF: 2_GICI_BalanceSheet_12032023_56.pdf
Opening PDF: 2_GMPI_BalanceSheet_23022023_54_U.pdf
Opening PDF: 2_HBMO_BalanceSheet_12032023_59_U.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_HECI_BalanceSheet_13032023_33.pdf
Opening PDF: 2_HMCI_BalanceSheet_16022023_53.pdf
Opening PDF: 2_MCDE_BalanceSheet_21022023_9.pdf
Opening PDF: 2_MCTI_BalanceSheet_15032023_44_U.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_MFCI_BalanceSheet_15032023_57.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_MGCI_BalanceSheet_07032023_31.pdf
Opening PDF: 2_MGMC_BalanceSheet_06032023_34.pdf
Opening PDF: 2_MHAS_BalanceSheet_27022023_19.pdf
Opening PDF: 2_MSPW_BalanceSheet_09022023_3_U.pdf
Opening PDF: 2_MTMI_BalanceSheet_02022023_55.pdf
Opening PDF: 2_NAPI_BalanceSheet_14032023_10.pdf
Opening PDF: 2_NBII_BalanceSheet_06062023_0.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_NBOB_BalanceSheet_05032023_30.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_NDTI_BalanceSheet_26022023_7.pdf
Opening PDF: 2_NFCI_BalanceSheet_14032023_6.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_NGCI_BalanceSheet_03032023_9.pdf
Opening PDF: 2_NLIF_BalanceSheet_05032023_9.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_NMWI_BalanceSheet_12032023_19.pdf
Opening PDF: 2_NRED_BalanceSheet_03032023_24.pdf
Opening PDF: 2_OAB_BalanceSheet_06032023_46.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_OCAI_BalanceSheet_26012023_5.pdf
Opening PDF: 2_OCCI_BalanceSheet_05022023_4_U.pdf
Opening PDF: 2_OCHL_BalanceSheet_29032023_29_U.pdf
Opening PDF: 2_OCOI_BalanceSheet_03032023_43.pdf
Opening PDF: 2_OEFI_BalanceSheet_14022023_44.pdf
Opening PDF: 2_OEIO_BalanceSheet_13032023_34.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_OETI_BalanceSheet_23112022_54_U.pdf
Opening PDF: 2_OFCI_BalanceSheet_16032023_20.pdf
Opening PDF: 2_OFMI_BalanceSheet_09032023_10_U.pdf
Opening PDF: 2_OIFC_BalanceSheet_07032023_39.pdf
Opening PDF: 2_OMRF_BalanceSheet_28022023_38.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_OMVS_BalanceSheet_14032023_22.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_ONES_BalanceSheet_27022023_54.pdf
Opening PDF: 2_OOMS_BalanceSheet_14032023_30_U.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_OPCI_BalanceSheet_07022023_17.pdf
Opening PDF: 2_OQIC_BalanceSheet_03032023_24.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_ORCI_BalanceSheet_02032023_24.pdf
Opening PDF: 2_ORDS_BalanceSheet_14022023_54_U.pdf
Opening PDF: 2_ORIC_BalanceSheet_06032023_15.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_OTEL_BalanceSheet_26032023_15_U.pdf
Opening PDF: 2_OUIC_BalanceSheet_28022023_14.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_PCLI_BalanceSheet_01022023_51_U.pdf
Opening PDF: 2_PHPC_BalanceSheet_26022023_43.pdf
Opening PDF: 2_PRFD_BalanceSheet_28022023_4.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_RCCI_BalanceSheet_15032023_31.pdf
Opening PDF: 2_RNSS_BalanceSheet_05032023_17.pdf
Opening PDF: 2_SAHS_BalanceSheet_25012023_22.pdf
Opening PDF: 2_SFMI_BalanceSheet_05032023_27_U.pdf
Opening PDF: 2_SHCS_BalanceSheet_20022023_3.pdf
Opening PDF: 2_SHPS_BalanceSheet_21022023_12.pdf
Opening PDF: 2_SHRQ_BalanceSheet_15022023_17.pdf
Opening PDF: 2_SIHC_BalanceSheet_21022023_22.pdf
Opening PDF: 2_SMNP_BalanceSheet_09032023_4.pdf
Opening PDF: 2_SOMS_BalanceSheet_16022023_35_U.pdf
Opening PDF: 2_SPFI_BalanceSheet_28022023_26_U.pdf
Opening PDF: 2_SPSI_BalanceSheet_26022023_11.pdf
Opening PDF: 2_SSPW_BalanceSheet_02032023_9.pdf
Opening PDF: 2_SUWP_BalanceSheet_16022023_46.pdf
Opening PDF: 2_TAOI_BalanceSheet_06032023_59_U.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_TFCI_BalanceSheet_15032023_14.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Opening PDF: 2_UBAR_BalanceSheet_26022023_2.pdf
Opening PDF: 2_UFCI_BalanceSheet_15032023_36.pdf
Keyword not found.
Keyword not found.
Opening PDF: 2_VOES_BalanceSheet_08032023_3_U.pdf

In [405]:
data.isnull().sum()

2022  Total assets                  0
      Total current assets         32
      Total liabilities             0
      Total current liabilities    32
2021  Total assets                  0
      Total current assets         32
      Total liabilities             0
      Total current liabilities    32
dtype: int64

In [1821]:
full_data= pd.concat([data,profit_data],axis=1)

In [1825]:
full_data.columns

Index([             ('2022', 'Total assets'),
            ('2022', 'Total current assets'),
               ('2022', 'Total liabilities'),
       ('2022', 'Total current liabilities'),
                    ('2021', 'Total assets'),
            ('2021', 'Total current assets'),
               ('2021', 'Total liabilities'),
       ('2021', 'Total current liabilities'),
                                  'Cons2022',
                                 'Stand2022',
                                  'Cons2021',
                                 'Stand2021'],
      dtype='object')

In [1833]:
full_data.rename(columns={"('2022', 'Total assets')":'Total assets 2022',"('2021', 'Total assets')":'Total assets 2021',\
                          "('2022', 'Total current assets')":'Total current assets 2022',"('2021', 'Total current assets')":'Total current assets 2021',\
                         "('2022', 'Total liabilities')":'Total liabilities 2022',"('2021', 'Total liabilities')":'Total liabilities 2021',\
                        "('2022', 'Total current liabilities')":'Total current liabilities 2022',"('2021', 'Total current liabilities')":'Total current liabilities 2021'
                          
                         ,},inplace=True)

In [1824]:
full_data.to_excel('Oman.xlsx')

In [1834]:
full_data.head()

,"(2022, Total assets)","(2022, Total current assets)","(2022, Total liabilities)","(2022, Total current liabilities)","(2021, Total assets)","(2021, Total current assets)","(2021, Total liabilities)","(2021, Total current liabilities)",Cons2022,Stand2022,Cons2021,Stand2021
AACT,"47,733,926","21,134,057","15,793,514","7,452,305","46,204,285","25,348,510","11,468,890","6,351,016","2,925,827",0,"6,272,905",0
AAIC,"48,831",NaN,"17,525",NaN,"46,049",NaN,"15,912",NaN,354,0,(842),0
ABOB,"3,075,466",NaN,"2,614,527",NaN,"3,052,556",NaN,"2,625,559",NaN,"33,090",0,"27,606",0
ABRJ,"281,775","78,183","137,154","48,326","289,777","77,831","156,151","57,112","16,519",0,"18,413",0
AFAI,"53,508,895","13,784,439","33,509,835","21,583,666","46,363,741","4,000,703","20,302,720","12,192,438","(5,907,917)","(168,736)","205,935","452,174"

In [1801]:
# To know how many files in folders
folder_path='oman 2022\Balancesheet'
balancesheet=[file.split('_')[1] for file in os.listdir(folder_path) if file.endswith('.pdf')]
len(balancesheet)

103

In [25]:
# To know how many files in folders
folder_path='oman 2022\IncomeInstatment'
incomes=[file.split('_')[1] for file in os.listdir(folder_path) if file.endswith('.pdf')]
len(incomes)+9

103

In [7]:
# Check the pdf file 

def check_files(tables,file_name):
    global correct_file
    global wrong_file
    if len(tables)>0:
        correct_file.append(file_name)
        result= True
    else: # file return empty tables
        wrong_file.append(file_name)
        result=False
    
    return result

In [95]:
start_time=time.time()
# Specify the PDF file path
correct_file=[]
wrong_file=[]
keywords = ['Total_assets', 'Total_current_assets', 'Total_liabilities', 'Total_current_liabilities']
columns= pd.MultiIndex.from_product([['2020','2021'], keywords])
balance_data= pd.DataFrame(columns=columns)
folder_path='oman 2022\BalanceSheet'
# file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]
file_list=['2_AMAN_BalanceSheet_03042023_6.pdf']

for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
#     print(f"Opening PDF: {file_name}")

    # Open the PDF file
#     pdf_file = open(pdf_path, 'rb')

# Use tabula to extract tables from the PDF

    tables = read_pdf(pdf_path,multiple_tables=True,columns=[200,300,300,300],pages='all')
    
#     Print the extracted tables
#     for table_num, table_df in enumerate(tables, start=1):
#         extract_profit(tables)
#         print(f"Table {table_nu qm}:\n{table_df}"
    result=check_files(tables,file_name)
    if result:
#         asset,liability, current=
        extract_balance(tables)
      
        break
    else:
        continue
     # Close the PDF file
print('Total time:',round((time.time()-start_time)/60), 'in Minute') 
print(x)
#     pdf_file.close()

filling data went wrong: 2_AMAN_BalanceSheet_03042023_6.pdf
Total time: 0 in Minute
0

In [89]:
def extract_balance(tables):
    global file_name
    global balance_data
    # Read first table to extract the wanted row
    for i in range(len(tables)):
        
        table=tables[i]
        # Drop null rows from last columns(as reverse in Arabic tables)
        first_col=table.columns[0]
    #     table[last_col].dropna(inplace=True)
        table.dropna(subset=[first_col],inplace=True)

    #     table.dropna(subset=['Unnamed: 0'],inplace=True)
    #     matched_row=matched_row.iloc[[0]]
    #     matched_row=table.iloc[:,:-1]

    #     matched_row=matched_row.dropna(axis=1) # delete Null columns
        com_name=file_name.split('_')[1]
    #     columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
    #     profit_data= pd.DataFrame(columns=columns)

    #     for keyword in keywords:
    #     matched_rows=test[test['Unnamed: 0'].str.contains(keyword, case=False)]
        Total_assets=table.loc[table[first_col]=='Total assets']
        Total_current_assets=table.loc[table[first_col]=='Total current assets']
        Total_liabilities=table.loc[table[first_col]=='Total liabilities'] 
        Total_current_liabilities=table.loc[table[first_col]=='Total current liabilities']
        borrow_current=table.loc[table[first_col]=='Borrowings, current']
        borrow_non_current=table.loc[table[first_col]=='Borrowings, non current']
    #     return Total_assets,Total_liabilities, Total_current_liabilities


        if table.shape[1]==3:
            if not Total_assets.empty:
                balance_data.at[com_name,('2020','Total_assets')]=Total_assets.iloc[0,1]
                balance_data.at[com_name,('2021','Total_assets')]=Total_assets.iloc[0,2]
            if not Total_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_liabilities')]):
                balance_data.at[com_name,('2020','Total_liabilities')]=Total_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_liabilities')]=Total_liabilities.iloc[0,2]
            else:
                continue
            if not Total_current_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_current_liabilities')]):
                balance_data.at[com_name,('2020','Total_current_liabilities')]=Total_current_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_current_liabilities')]=Total_current_liabilities.iloc[0,2]
            else:
                continue

        elif table.shape[1]==4:
            if not Total_assets.empty:
                balance_data.at[com_name,('2020','Total_assets')]=Total_assets.iloc[0,1]
                balance_data.at[com_name,('2021','Total_assets')]=Total_assets.iloc[0,3]
            if not Total_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_liabilities')]):
                balance_data.at[com_name,('2020','Total_liabilities')]=Total_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_liabilities')]=Total_liabilities.iloc[0,3]
            else:
                continue
            if not Total_current_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_current_liabilities')]):
                balance_data.at[com_name,('2020','Total_current_liabilities')]=Total_current_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_current_liabilities')]=Total_current_liabilities.iloc[0,3]
            else:
                continue

        elif table.shape[1]==5:
            if not Total_assets.empty:
                balance_data.at[com_name,('2020','Total_assets')]=Total_assets.iloc[0,1]
                balance_data.at[com_name,('2021','Total_assets')]=Total_assets.iloc[0,3]
            if not Total_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_liabilities')]):
                balance_data.at[com_name,('2020','Total_liabilities')]=Total_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_liabilities')]=Total_liabilities.iloc[0,3]
            else:
                continue
            if not Total_current_liabilities.empty and pd.isnull(balance_data.loc[com_name,('2020','Total_current_liabilities')]):
                balance_data.at[com_name,('2020','Total_current_liabilities')]=Total_current_liabilities.iloc[0,1]
                balance_data.at[com_name,('2021','Total_current_liabilities')]=Total_current_liabilities.iloc[0,3]
            else:
                continue

        else:
            print('filling data went wrong:',file_name)

In [96]:
tables[0]

,Unnamed: 0,Actuals/Omani Rial/Audited
0,"Statement of Financial position, Order of liqu...",31/12/2022 31/12/2021
1,STATEMENT OF FINANCIAL POSITION,NaN
2,ASSETS,NaN
3,Cash and bank balances,16 923
4,Receivables,"508,987 405,813"
5,Investment properties,"20,498,000 20,800,000"
6,Total assets,"21,007,003 21,206,736"
7,LIABILITIES,NaN
8,Accruals and other pay ables,"81,368 24,773"
9,Total liabilities,"81,368 24,773"
10,Net assets attributable to unit holders,"20,925,635 21,181,963"
11,CAPITAL/UNIT HOLDERS' CONTRIBUTION,NaN
12,Unit capital,"20,000,000 20,000,000"
13,Retained earnings (accumulated Losses),"925,635 1,181,963"
14,Net assets attributable to unitholders,"20,925,635 21,181,963"

In [57]:
import re
import pandas as pd
# Define the keyword set you want to search for as create the dataframe. 
keywords = ['Borrowings, current', 'Borrowings, non current']
columns= pd.MultiIndex.from_product([['2022','2021'], keywords])
data= pd.DataFrame(columns=columns)
    
def extract_info(text,file_name):
    # Input text containing the keyword
    input_text = str(text).split('\\n')
    global keywords
    global data

    # keyword='Total liabilities'
    for keyword in keywords:
    # Use regex to find the keyword and capture text after it
    # pattern = re.compile(f"{re.escape(keyword)}.*?\\b([\d,]+)\\b", re.IGNORECASE)
        pattern = re.compile(f"{re.escape(keyword)}.*?\\b([\d,]+).*?([\d,]+)\\b.*?([\d,]+)\\b", re.IGNORECASE)

        match = pattern.search(str(input_text))
        com_name=file_name.split('_')[1]
        if match:
            if len(match.groups)<=2:
                data.at[com_name,('2022',keyword)]=match.group(1)
                data.at[com_name,('2021',keyword)]=match.group(2)
            elif len(match.group)>2:
                data.at[com_name,('2022',keyword)]=match.group(1)
                data.at[com_name,('2021',keyword)]=match.group(3)
            
    #         captured_number1 = match.group(1)
    #         print(f"Captured number: {captured_number1}")
    #         captured_number2 = match.group(2)
    #         print(f"Capture number: {captured_number2}")
        else:
            print("Keyword not found.")

In [125]:

import pandas as pd

# Specify the folder path
folder_path = 'oman 2022\Balancesheet'

# List of files in the folder
# file_list = os.listdir(folder_path)
# file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]
file_list=['2_CMII_BalanceSheet_27022023_2.pdf']
for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
    print(f"Opening PDF: {file_name}")

    # Open the PDF file
    pdf_file = open(pdf_path, 'rb')

    # Create a PDF reader object
    reader = PyPDF2.PdfReader(pdf_file)

    # Get the number of pages in the PDF file
    num_pages = len(reader.pages)

    # Iterate over the pages in the PDF file
    text=[]
    for page_num in range(num_pages):

        # Get the current page
        page = reader.pages[page_num]

        # Get the tables on the current page
        tables = page.extract_text().split('\n\n')

        # Print the tables
        for table in tables:
            text.append(table)
            extract_info(text,file_name)
    # Close the PDF file
    pdf_file.close()

Opening PDF: 2_CMII_BalanceSheet_27022023_2.pdf
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.
Keyword not found.

In [348]:
def extract_borrow(tables):
    global profit_data
    global file_name
    # Read first table to extract the wanted row
    for i in range(len(tables)):
        
        table=tables[i]
        # Drop null rows from first columns
        first_col=tables[i].columns[0]
        table.dropna(subset=[first_col],inplace=True)
        # Take a loop to look for specific values by order 
        keywords='Borrowings'
    #     columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
    #     profit_data= pd.DataFrame(columns=columns)

    #     for keyword in keywords:
    #     matched_rows=test[test['Unnamed: 0'].str.contains(keyword, case=False)]
        matched_row=table.loc[table[first_col]==keywords]
        com_name=file_name.split('_')[1]

        if not matched_row.empty:
            matched_row=matched_row.iloc[[0]]
            last_columns=matched_row.iloc[:,1:]
            matched_row['combine']=last_columns.apply(lambda row:' '.join(filter(lambda x:pd.notna(x),row)),axis=1)
            matched_row=matched_row['combine'].str.split(expand=True)
            if matched_row.shape[1]==2:
                borrow_data.at[com_name,'Cons2022']=matched_row.iloc[0,0]
                borrow_data.at[com_name,'Cons2021']=matched_row.iloc[0,1]
                break

            elif matched_row.shape[1]>2:
                borrow_data.at[com_name,'Cons2022']=matched_row.iloc[0,0]
                borrow_data.at[com_name,'Cons2021']=matched_row.iloc[0,2]
                break
        else:
            continue

In [347]:
correct_file=[]
wrong_file=[]
# Specify the PDF file path
columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
borrow_data= pd.DataFrame(columns=columns)
folder_path='oman 2022\Balancesheet'
file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]
# file_list=['2_AACT_BalanceSheet_26022023_33.pdf']


for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
#     print(f"Opening PDF: {file_name}")

    # Open the PDF file
    pdf_file = open(pdf_path, 'rb')

# tabula.convert_into("AACT_2022_Yearly (Audited)_e/2_AACT_BalanceSheet_26022023_33.pdf", "output.csv", output_format="csv", pages='all')
# Use tabula to extract tables from the PDF

    tables = read_pdf(pdf_file,multiple_tables=True,columns=[100,500, 500, 500],pages='all')
    # print(tabulate(tables)
    # Print the extracted tables
#     for table_num, table_df in enumerate(tables, start=1):
    result=check_files(tables,file_name)
    if result:
        extract_borrow(tables)
    else:
        continue
#         print(f"Table {table_num}:\n{table_df}")
     # Close the PDF file
    pdf_file.close()

In [353]:
tables[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Actuals/Omani Rial/Audited
1,"Statement of Financial position, Current/ non-...",NaN,NaN,NaN
3,STATEMENT OF FINANCIAL POSITION,NaN,NaN,NaN
4,CONSOLIDATED AND SEPARATE,NaN,NaN,NaN
5,ASSETS,NaN,NaN,NaN
6,NON-CURRENT ASSETS,NaN,NaN,NaN
7,"Property, plant and equipment","9,039,348","465,550","9,493,615 524,793"
8,Intangible assets other than goodwill,"504,505",NaN,"412,086"
9,Right-of-use assets,"1,068,288","26,789","1,007,811 32,281"
10,Investments in subsidiaries,NaN,"7,229,520","7,229,520"
11,Deferred tax assets,"1,190,900","527,415","785,166 353,327"
12,Non-current financial assets at fair value thr...,"295,041","295,041","792,791 792,791"
13,Total non-current assets,"12,098,082","8,544,315","12,491,469 8,932,712"
14,CURRENT ASSETS,NaN,NaN,NaN
15,Current inventories,"9,571,660","866,434","11,001,869 1,388,874"
16,Trade and other current receivables,"19,020,854","6,672,877","24,324,957 8,098,581"
17,Cash and bank balances,"(2,815,872)","(661,554)","(2,749,818) (361,297)"
18,Other current financial assets,"213,710","213,710","259,542 206,989"
19,Total current assets other than non-current as...,NaN,NaN,NaN
21,owners,NaN,NaN,NaN
22,Total current assets,"25,990,352","7,091,467","32,836,550 9,333,147"
23,Total assets,"38,088,434","15,635,782","45,328,019 18,265,859"
24,EQ UITY AND LIABILITIES,NaN,NaN,NaN
25,EQ UITY,NaN,NaN,NaN
26,Issued capital,"8,140,275","8,140,275","8,140,275 8,140,275"
27,Share premium,"3,146,070","3,146,070","3,146,070 3,146,070"
28,Statutory reserve,"3,031,496","2,334,238","3,031,496 2,334,238"
29,Other reserves,"(1,409,557)","(1,409,557)","(1,974,507) (1,974,507)"
30,Retained earnings (accumulated Losses),"3,692,636","1,427,085","6,026,832 3,477,751"
31,Total equity attributable to owners of parent,"16,600,920",NaN,"18,370,166"
32,Non-controlling interests,"953,239",NaN,"1,076,050"
33,Total equity,"17,554,159","13,638,111","19,446,216 15,123,827"
34,LIABILITIES,NaN,NaN,NaN
35,NON-CURRENT LIABILITIES,NaN,NaN,NaN
36,NON-CURRENT PROVISIONS,NaN,NaN,NaN
37,Non-current provisions for employee benefits,"675,547","120,662","660,799 134,572"
38,Total non-current provisions,"675,547","120,662","660,799 134,572"
39,"Borrowings, non current",NaN,NaN,"644,683"
40,Non-current lease liabilities,"866,756","19,576","898,810 23,516"
41,Total non-current liabilities,"1,542,303","140,238","2,204,292 158,088"
42,CURRENT LIABILITIES,NaN,NaN,NaN
43,CURRENT PROVISIONS,NaN,NaN,NaN
44,Trade and other current payables,"9,394,151","1,480,123","11,929,640 2,966,785"
45,"Borrowings, current","9,465,310","370,386","11,607,238"
46,Current lease liabilities,"132,511","6,924","135,568 8,324"
47,"Current tax liabilities, current",NaN,NaN,"5,065 8,835"
48,Total current liabilities other than liabiliti...,"18,991,972","1,857,433","23,677,511 2,983,944"
49,Total current liabilities,"18,991,972","1,857,433","23,677,511 2,983,944"
50,Total liabilities,"20,534,275","1,997,671","25,881,803 3,142,032"
51,Total equity and liabilities,"38,088,434","15,635,782","45,328,019 18,265,859"

In [198]:
borrow_data.to_excel('borrow2022.xlsx')

In [310]:
tables[1]

,Retained earnings (accumulated Losses),Unnamed: 0,"3,692,636","1,427,085 6,026,832",Unnamed: 1,"3,477,751"
0,Total equity attributable to owners of parent,NaN,"16,600,920","18,370,166",NaN,NaN
1,Non-controlling interests,NaN,"953,239","1,076,050",NaN,NaN
2,Total equity,NaN,"17,554,159","13,638,111 19,446,216",NaN,"15,123,827"
3,LIABILITIES,NaN,NaN,NaN,NaN,NaN
4,NON-CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN
5,NON-CURRENT PROVISIONS,NaN,NaN,NaN,NaN,NaN
6,Non-current provisions for employee benefits,NaN,"675,547","120,662 660,799",NaN,"134,572"
7,Total non-current provisions,NaN,"675,547","120,662 660,799",NaN,"134,572"
8,"Borrowings, non current",NaN,NaN,"644,683",NaN,NaN
9,Non-current lease liabilities,NaN,"866,756","19,576 898,810",NaN,"23,516"
10,Total non-current liabilities,NaN,"1,542,303","140,238 2,204,292",NaN,"158,088"
11,CURRENT LIABILITIES,NaN,NaN,NaN,NaN,NaN
12,CURRENT PROVISIONS,NaN,NaN,NaN,NaN,NaN
13,Trade and other current payables,NaN,"9,394,151","1,480,123 11,929,640",NaN,"2,966,785"
14,"Borrowings, current",NaN,"9,465,310","370,386 11,607,238",NaN,NaN
15,Current lease liabilities,NaN,"132,511","6,924 135,568",NaN,"8,324"
16,"Current tax liabilities, current",NaN,NaN,"5,065",NaN,"8,835"
17,Total current liabilities other than liabiliti...,NaN,"18,991,972","1,857,433 23,677,511",NaN,"2,983,944"
18,Total current liabilities,NaN,"18,991,972","1,857,433 23,677,511",NaN,"2,983,944"
19,Total liabilities,NaN,"20,534,275","1,997,671 25,881,803",NaN,"3,142,032"
20,Total equity and liabilities,NaN,"38,088,434","15,635,782 45,328,019",NaN,"18,265,859"
21,Number of outstanding shares,NaN,81402750,81402750 81402750,NaN,81402750
22,Net assets per share,NaN,0.204,0.168 0.226,NaN,0.186
25,"Subclassifications of Assets, Liabilities and ...",NaN,NaN,NaN,NaN,NaN
27,"SUBCLASSIFICATIONS OF ASSETS, LIABILITIES AND ...",NaN,NaN,NaN,NaN,NaN
28,CONSOLIDATED AND SEPARATE,NaN,NaN,NaN,NaN,NaN
29,ASSETS,NaN,NaN,NaN,NaN,NaN
30,NON-CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN
31,EXPLORATION AND EVALUATION ASSETS,NaN,NaN,NaN,NaN,NaN
32,INVESTMENT ACCOUNTED FOR USING EQ UITY METHOD,NaN,NaN,NaN,NaN,NaN
33,INVESTMENT PROPERTIES,NaN,NaN,NaN,NaN,NaN
34,INVESTMENT PROPERTIES AT COST,NaN,NaN,NaN,NaN,NaN
35,INVESTMENT PROPERTIES AT FAIR VALUE,NaN,NaN,NaN,NaN,NaN
36,OTHER NON-CURRENT NON-FINANCIAL ASSETS,NaN,NaN,NaN,NaN,NaN
37,CURRENT ASSETS,NaN,NaN,NaN,NaN,NaN
38,INVENTORIES,NaN,NaN,NaN,NaN,NaN
39,Raw materials,"6,104,812","1,040,792","7,238,207 1,182,488",NaN,NaN
40,Current inventories in transit,"783,961","3,410","1,146,759 16,269",NaN,NaN
41,Work in progress,"2,338,295","286,031","3,111,236 529,768",NaN,NaN
42,Finished goods,"1,686,863","86,737","878,855 138,069",NaN,NaN
43,Allowance for slow moving and obsolete invento...,"1,342,271","550,536","1,373,188 477,720",NaN,NaN
44,"Total inventories, current","9,571,660","866,434","11,001,869 1,388,874",NaN,NaN
45,TRADE AND OTHER CURRENT RECEIVABLES,NaN,NaN,NaN,NaN,NaN
46,Accounts receivables,"20,152,925","1,778,732","24,834,842 2,004,983",NaN,NaN
47,Receivables due from related parties,NaN,"5,037,658","6,072,291",NaN,NaN
48,"PREPAYMENTS, ADVANCES AND ACCRUED INCOME",NaN,NaN,NaN,NaN,NaN
49,Advances,"187,765","97,214","356,298 101,062",NaN,NaN
50,Total prepayments and accrued income,"187,765","97,214","356,298 101,062",NaN,NaN
51,Other receivables,"502,543","111,902","559,513 125,839",NaN,NaN
52,Allowance for expected credit losses,"1,822,379","352,629","1,425,696 205,594",NaN,NaN

In [301]:
first_col=tables[1].columns[0]
tables[1].loc[tables[1][first_col]=='Borrowings, non current']

             CURRENT ASSETS Unnamed: 0 Unnamed: 1  Unnamed: 2 Unnamed: 3
22  Borrowings, non current  1,868 822        NaN       908.0        908

In [298]:
tables[0].loc[tables[0][tables[0].columns[0]]=='Borrowings, non current'].iloc[:,1:].apply(lambda row:' '.join(filter(lambda x:pd.notna(str(x)),row)),axis=1)

40    1,868 822 908 908
dtype: object

In [226]:
borrow_data[['Cons2022','Cons2021']].columns=[['borrow_non_current(Cons2022)','borrow_non_current(Cons2021)']]

In [231]:
borrow_data.rename(columns={'Cons2022':'borrow_non_current(Cons2022)','Cons2021':'borrow_non_current(Cons2021)'},inplace=True)

In [236]:
borrow_data.iloc[:,[0,2]]

     borrow_non_current(Cons2022) borrow_non_current(Cons2021)
AACT                    3,350,079                            0
AFAI                    8,044,333                    7,742,493
CSII                            0                            0
DBCI                      797,401                      638,218
DFIN                        1,868                          908
GECS                        5,968                       11,561
GMPI                    3,741,651                    4,424,454
MGCI                    1,650,000                    1,847,500
MTMI                       21,823                       60,223
NMWI                      697,718                      967,193
OCHL                   43,534,294                   46,719,479
OEFI                        2,653                        3,153
OFCI                      125,354                      207,138
OFMI                       21,725                       21,950
OPCI                      505,000                            0
ORCI                    7,384,607                    1,589,161
PCLI                      687,952                      845,832
RCCI                   35,474,898                   27,901,887
SFMI                    6,044,396                    1,836,672
SPFI                   35,463,637                   36,359,554

In [255]:
borrow_data1.rename(columns={'borrow_non_current(Cons2022)':'borrow_current(Cons2022)','borrow_non_current(Cons2021)':'borrow_current(Cons2021)'},inplace=True)

In [259]:
borrow_final=pd.concat([borrow_data1.iloc[:,[0,2]],borrow_data.iloc[:,[0,2]]],axis=1)

In [323]:
borrow_final.to_excel('oman_borrow_2022.xlsx')

In [322]:
pd.concat([borrow_data,non_borrow],axis=1).head()

,Cons2022,Stand2022,Cons2021,Stand2021,Cons2022,Stand2022,Cons2021,Stand2021
AACT,"773,342",NaN,0,NaN,"3,350,079",NaN,0,NaN
ABRJ,"18,841",NaN,"15,330",NaN,NaN,NaN,NaN,NaN
AFAI,"15,091,690",NaN,"16,061,998",NaN,"8,044,333",NaN,"7,742,493",NaN
AMCI,"600,000",NaN,0,NaN,NaN,NaN,NaN,NaN
ATMI,"25,375,475",NaN,"23,598,796",NaN,NaN,NaN,NaN,NaN

### Finance Cost

In [346]:
def extract_finance(tables):
    global profit_data
    global file_name
    # Read first table to extract the wanted row
    for i in range(len(tables)):
        
        table=tables[i]
        # Drop null rows from first columns
        first_col=tables[i].columns[0]
        table.dropna(subset=[first_col],inplace=True)
        # Take a loop to look for specific values by order 
        keywords='Finance costs'
    #     columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
    #     profit_data= pd.DataFrame(columns=columns)

    #     for keyword in keywords:
    #     matched_rows=test[test['Unnamed: 0'].str.contains(keyword, case=False)]
        matched_row=table.loc[table[first_col]==keywords]
        com_name=file_name.split('_')[1]

        if not matched_row.empty:
            matched_row=matched_row.iloc[[0]]
            last_columns=matched_row.iloc[:,1:]
            matched_row['combine']=last_columns.apply(lambda row:' '.join(filter(lambda x:pd.notna(x),row)),axis=1)
            matched_row=matched_row['combine'].str.split(expand=True)
            if matched_row.shape[1]==2:
                borrow_data.at[com_name,'Cons2022']=matched_row.iloc[0,0]
                borrow_data.at[com_name,'Cons2021']=matched_row.iloc[0,1]
                break

            elif matched_row.shape[1]>2:
                borrow_data.at[com_name,'Cons2022']=matched_row.iloc[0,0]
                borrow_data.at[com_name,'Cons2021']=matched_row.iloc[0,2]
                break
        else:
            continue

In [339]:
correct_file=[]
wrong_file=[]
# Specify the PDF file path
columns= ['Cons2022','Stand2022','Cons2021','Stand2021']
finance_data= pd.DataFrame(columns=columns)
folder_path='oman 2022\balancesheet'
file_list= [file for file in os.listdir(folder_path) if file.endswith('.pdf')]
# file_list=['2_AACT_BalanceSheet_26022023_33.pdf']


for file_name in file_list:
    pdf_path = os.path.join(folder_path, file_name)
#     print(f"Opening PDF: {file_name}")

    # Open the PDF file
    pdf_file = open(pdf_path, 'rb')

# tabula.convert_into("AACT_2022_Yearly (Audited)_e/2_AACT_BalanceSheet_26022023_33.pdf", "output.csv", output_format="csv", pages='all')
# Use tabula to extract tables from the PDF

    tables = read_pdf(pdf_file,multiple_tables=True,columns=[100,500, 500, 500],pages='all')
    # print(tabulate(tables)
    # Print the extracted tables
#     for table_num, table_df in enumerate(tables, start=1):
    result=check_files(tables,file_name)
    if result:
        extract_finance(tables)
    else:
        continue
#         print(f"Table {table_num}:\n{table_df}")
     # Close the PDF file
    pdf_file.close()

In [341]:
wrong_file

['3_NBII_IncomeStatement_06062023_0.pdf',
 '3_OQIC_IncomeStatement_03032023_24.pdf',
 '3_OUIC_IncomeStatement_28022023_14.pdf']

In [333]:
borrow_data.rename(columns={'borrow_current(Cons2022)':'finance_Cons2022','borrow_current(Cons2021)':'finance_Cons2021'},inplace=True)

In [337]:
borrow_data.iloc[:,[0,2]].to_excel('oman_finance_2022.xlsx')

In [340]:
borrow_data.shape

(77, 6)